In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv(r"C:\Users\saic1\Downloads\values.csv")   # path change చేస్తే సరిపోతుంది
df.head()

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,0z64un,1,normal,128,2,0,0,2,308,0.0,1,45,170,0
1,ryoo3j,2,normal,110,3,0,0,0,214,1.6,0,54,158,0
2,yt1s1x,1,normal,125,4,3,0,2,304,0.0,1,77,162,1
3,l2xjde,1,reversible_defect,152,4,0,0,0,223,0.0,1,40,181,0
4,oyt4ek,3,reversible_defect,178,1,0,0,2,270,4.2,1,59,145,0

In [16]:
df.select_dtypes(include='object').columns

Index(['patient_id', 'thal'], dtype='object')

In [17]:
df['thal'].value_counts()

thal
normal               98
reversible_defect    74
fixed_defect          8
Name: count, dtype: int64

In [49]:
df_onehot = pd.get_dummies(
    df,
    columns=['thal_cleaned'],
    drop_first=True
)

print("\nOne-Hot encoded columns:")
print([col for col in df_onehot.columns if col.startswith('thal_cleaned')])

One-Hot encoded columns:
['thal_cleaned_normal', 'thal_cleaned_reversible_defect']

In [18]:
from sklearn.preprocessing import OrdinalEncoder

encoder = OrdinalEncoder()
df['thal_ordinal'] = encoder.fit_transform(df[['thal']])

df[['thal', 'thal_ordinal']].head()

                thal  thal_ordinal
0             normal           1.0
1             normal           1.0
2             normal           1.0
3  reversible_defect           2.0
4  reversible_defect           2.0

In [48]:
# Handle rare categories
threshold = 0.05 * len(df)

thal_counts = df['thal'].value_counts()
rare_thal = thal_counts[thal_counts < threshold].index

df['thal_cleaned'] = df['thal'].replace(rare_thal, 'Other')

print("\nAfter handling rare categories:")
print(df['thal_cleaned'].value_counts())

After handling rare categories:
thal_cleaned
normal               98
reversible_defect    74
Other                 8
Name: count, dtype: int64

In [19]:
thal_dummies = pd.get_dummies(df['thal'], prefix='thal')
df = pd.concat([df, thal_dummies], axis=1)

df.head()

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina,thal_ordinal,thal_fixed_defect,thal_normal,thal_reversible_defect
0,0z64un,1,normal,128,2,0,0,2,308,0.0,1,45,170,0,1.0,False,True,False
1,ryoo3j,2,normal,110,3,0,0,0,214,1.6,0,54,158,0,1.0,False,True,False
2,yt1s1x,1,normal,125,4,3,0,2,304,0.0,1,77,162,1,1.0,False,True,False
3,l2xjde,1,reversible_defect,152,4,0,0,0,223,0.0,1,40,181,0,2.0,False,False,True
4,oyt4ek,3,reversible_defect,178,1,0,0,2,270,4.2,1,59,145,0,2.0,False,False,True

In [20]:
df['chest_pain_type'].value_counts()

chest_pain_type
4    82
3    57
2    28
1    13
Name: count, dtype: int64

In [22]:
cp_map = {
    'typical_angina': 0,
    'atypical_angina': 1,
    'non_anginal': 2,
    'asymptomatic': 3
}

df['chest_pain_encoded'] = df['chest_pain_type'].map(cp_map)

df[['chest_pain_type', 'chest_pain_encoded']].head()

   chest_pain_type  chest_pain_encoded
0                2                 NaN
1                3                 NaN
2                4                 NaN
3                4                 NaN
4                1                 NaN

In [31]:
print(list(df.columns))

['patient_id', 'slope_of_peak_exercise_st_segment', 'thal', 'resting_blood_pressure', 'chest_pain_type', 'num_major_vessels', 'fasting_blood_sugar_gt_120_mg_per_dl', 'resting_ekg_results', 'serum_cholesterol_mg_per_dl', 'oldpeak_eq_st_depression', 'sex', 'age', 'max_heart_rate_achieved', 'exercise_induced_angina', 'thal_ordinal', 'thal_fixed_defect', 'thal_normal', 'thal_reversible_defect', 'chest_pain_encoded']

In [51]:
# Determine if ordinal relationship exists
import pandas as pd

df = pd.read_csv(r"C:\Users\saic1\Downloads\values.csv")

print("Thal categories:")
print(df['thal'].unique())

print("\nChest pain categories:")
print(df['chest_pain_type'].unique())

Thal categories:
['normal' 'reversible_defect' 'fixed_defect']

Chest pain categories:
[2 3 4 1]

In [ ]:
# Implement appropriate encoding
import pandas as pd

df = pd.read_csv(r"C:\Users\saic1\Downloads\values.csv")

print("Original values:", df['chest_pain_type'].unique())

cp_mapping = {
    4: 0,  
    3: 1,  
    2: 2,  
    1: 3   
}
df['chest_pain_encoded'] = df['chest_pain_type'].map(cp_mapping)
print(df[['chest_pain_type', 'chest_pain_encoded']].head())

Original values: [2 3 4 1]
   chest_pain_type  chest_pain_encoded
0                2                   2
1                3                   1
2                4                   0
3                4                   0
4                1                   3

In [ ]:
import pandas as pd

# Load data
df = pd.read_csv(r"C:\Users\saic1\Downloads\values.csv")

binary_cols = [
    'sex',
    'fasting_blood_sugar',
    'exercise_induced_angina'
]
binary_cols = [col for col in binary_cols if col in df.columns]

df[binary_cols] = df[binary_cols].apply(pd.to_numeric, errors='coerce')

df[binary_cols] = (df[binary_cols] > 0).astype(int)

print("Binary columns (first 5 rows):")
print(df[binary_cols].head())

print("\nUnique values count:")
print(df[binary_cols].nunique())

Binary columns (first 5 rows):
   sex  exercise_induced_angina
0    1                        0
1    0                        0
2    1                        1
3    1                        0
4    1                        0

Unique values count:
sex                        2
exercise_induced_angina    2
dtype: int64

In [46]:
binary_cols = [
    'sex',
    'fasting_blood_sugar_gt_120_mg_per_dl',
    'exercise_induced_angina'
]

df[binary_cols].nunique()

sex                                     2
fasting_blood_sugar_gt_120_mg_per_dl    2
exercise_induced_angina                 2
dtype: int64